.heading {
    text-align: center;
    color: #fff;
    background-color: #999;
}

.menu {
    width: 500px;
    height: 100px;
    border: 1px solid transparent;
    background-color: #aaa;
    margin: auto;
}

.btn {
    width: 150px;
    padding: 10px 15px;
    background-color: limegreen;
    border-radius: 20px;
    border: none;
    float: left;
    margin: 5px;
}

#search {
    display: block;
    width: 60%;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 0 0 5px 2px black;
}
/*.btn-male { float: left; }*/

.btn-female { float: right; }

#table-data {
    width: 80%;
    background-color: aquamarine;
    margin: 30px auto;
}

table { width:  100%;}

td, #count {
    text-align: center;
}

